body {
	background-image: url("/images/bg.png");
	background-size: 110%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

div {
	display: block;
}

/* banner */
.banner{
	height: 80px;
	padding: 5px;
	margin: 10px;
    font-weight: bold;
	text-align: center;
    padding-left: 100px;
    padding-top: 30px;
	background: #2d2d2d;
	opacity: 0.9;
	color: #fff;
	border-radius: 10px;
	background :linear-gradient(-70deg, skyblue, 20%, rgba(0, 0, 0, 0) 30%), url('/images/instagram-background.png');
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
}

#logo {
	height: 50px;
	padding: 5px;
	width: 50px;
	opacity: 1.5;
	border-radius: 10px;
	background-attachment: fixed;
	position: absolute;
	margin: 4% 3%;
}

#login{
	position: relative;
	margin-right: 20px;
	text-align: right;	
}


/* sign out */
#logout{
	color: white;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 15px;
	position: absolute;
	text-align: right;
	margin-left: 38%;
}

/* headlines */
#indexheadline{
    text-align: left;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 50px;
	position: absolute;
	text-shadow: 3px 3px black;
	opacity: 0.7;
}

#signupheadline{
    text-align: left;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 50px;
	position: absolute;
	text-shadow: 3px 3px black;
	opacity: 0.7;
}

#feedheadline{
    text-align: left;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 50px;
	position: absolute;
	margin-top: -4px;
	text-shadow: 3px 3px black;
	opacity: 0.7;
}

#homeheadline{
    text-align: left;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 50px;
	position: absolute;
	margin-top: -4px;
	text-shadow: 3px 3px black;
	opacity: 0.7;
}

/* center part - welcome */
#welcomepage{
	margin-top: 15%;
	text-align: center;
	color: #778899;
	font-size: 100px;
	text-shadow: 2px 2px rgb(24, 24, 24);
	font-weight: bold;
}

/* signup */ 
#signup{
	color: white;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 12px;
}
.signupform {
	margin-top: 1%;
    min-height: 60vh;
    width: 70%;
    font-family: "Goudy Old Style";
	margin: auto;
	font-size: 1.5em;
	font-weight: normal;
	color: white;
}
#form {
	height: 250px;
    width: 450px;
    background-color: rgba(250, 200, 200, 0.8);
	margin: 6% 20%;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
    line-height: 150%;
    padding: 25px;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
	font-size: 20px;
	text-align: left;
}


/* feed */
#scrollingfeed {
	width: 450px;
	margin-top: 5%;
	min-height: 450px;
	scroll-behavior: smooth;
	overflow-y: auto;
	border: white;
	border-radius: 1px;
	background-color: lightgrey;
}


/* home page after logged in */
#canvas {
	height: 450px;
    width: 450px;
    background-color: white;
	margin: 2% 20%;
    padding: 1px;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
	opacity:0.5;
}
.filters {
	height: 100px;
	width: 100px;
	background-color: white;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.6);
	opacity: 0.5;
}

#startbutton {
	text-align: center;
}


 /* footer */
h2 {
	text-align: center;	
	color: white;
	text-shadow: 1px 1px black;
}

#copyright {
	margin-top: 20%;
	text-align: right;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: dimgrey;
	position: relative;
}