/* over all */
body {
	background-image: url("/camagru/images/bg2.png");
	background-color:white;
	background-size: cover;
}
div {
	display: block;
}
#notice {
	font-size: 13px;
	color: rgb(88, 87, 87);
	margin: auto;
}
h2 {
	text-align: center;	
	color: white;
	text-shadow: 1px 1px black;
}

/* banner */
.banner{
	height: 100px;
	padding: 5px;
    font-weight: bold;
	opacity: 0.9;
	color: #fff;
	background-attachment: fixed;
	background :linear-gradient(-60deg, #84aacf, 25%, rgba(0, 0, 0, 0) 40%), url('/camagru/images/instagram-background.png');
	background-size: cover;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
}
#logo {
	height: 35px;
	padding: 5px;
	width: 45px;
	border-radius: 10px;
	background-attachment: fixed;
	position: absolute;
	margin: 29px 25px;
	opacity: 0.6;
}
.headline{
	text-align: left;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 40px;
	position: absolute;
	text-shadow: 3px 3px black;
	opacity: 0.8;
	margin: 26px 85px;
}
#login{
	position: relative;
	margin-top: 20px;
	margin-right: 20px;
	text-align: right;	
}
#topline{
	margin-top: 20px;
}
.hdtext, #logout{
	color: whitesmoke;
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;

}
#forgetpw {
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: initial;
}
#logout{
	margin-right: 30px;
}

/* center part - welcome index.php */
#welcomepage{
	margin-top: 15%;
	text-align: center;
	color: #84aacf;
	font-size: 120px;
	text-shadow: 2px 2px rgb(24, 24, 24);
	font-weight: bold;
}

/* page 404 */
#errormsgbox {
	height: 330px;
	width: 800px;
	margin-top: 20%;	
	background-color: white;
	padding:10px;
	opacity:0.85;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
}
#errorMessage{
	text-align: center;
	color: #105497;
	font-size: 35px;
	font-weight: bold;
}

/* signup */ 
#signup{
	color: white;
	font-size: 15px;
	text-decoration: none;
	font-weight: initial;
}
.signupform {
    min-height: 60vh;
    width: 70%;
    font-family: "Goudy Old Style";
	margin: auto;
	font-size: 1.5em;
	font-weight: normal;
	color: white;
}
#form {
	height: 250px;
    width: 450px;
    background-color: #84aacf;
	margin-top: 6%;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
    line-height: 150%;
    padding: 25px;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
	font-size: 20px;
	text-align: left;
	opacity: 0.85;
}

/* feed */
#scrollingfeed {
	width: 450px;
	margin-top: 20px;
	min-height: 450px;
	scroll-behavior: smooth;
	overflow-y: auto;
	border: white;
	border-radius: 1px;
	background-color: lightgrey;
}
.feed {
	height: 500px;
	width: 750px;
	margin-top: 25px;
	background-color: white;
	padding: 5px;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
}
.feedphoto {
	height: 500px;
	width: 500px;
	object-fit: cover;
}
#heart {
	height:20px;
	width:20px;
	margin-top: 395px;
}
#feedusername{
	margin-top:-490px;
}

/* home page after logged in */
video {
	height: 500px;
	width: 500px;
}
#camerastream {
	height: 500px;
    width: 500px;
    background-color: white;
	padding: 5px;
	object-fit: fill;
	margin:2%;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
	position: relative;
	z-index: 1;
} 
canvas {
	background-color: white;
	object-fit: fill;
	padding: 5px;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
} 
#posts {
	height: 300px;
	width: 300px;
}
#addon {
	position: absolute;
	height: 500px;
	width: 500px;
	padding: 5px;
	margin:2%;
	z-index: 2;
}
#upload {
	position: absolute;
	height: 500px;
	width: 500px;
	padding: 5px;
	object-fit: fill;
	margin:2%;
	z-index: 2;
}
.filters {
	height: 100px;
	width: 100px;
	margin-top: 2%;
	background-color: white;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.6);
	opacity: 0.5;
} 
.button {
	margin-top: 15px;
	padding: 5px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	color: white;
	background-color:  #84aacf;
	cursor: pointer;
	text-align: center;
	opacity: 0.9;
}
.gallery {
	height: 300px;
	width: 300px;
	margin: auto;	
}

/* account info - change password/email/username */
.accinfo {
    min-height: 60vh;
    width: 70%;
    font-family: "Goudy Old Style";
	margin: auto;
	font-size: 1.5em;
	font-weight: normal;
	color: white;
	margin-bottom: 50px;
}
.changeform {
	height: 220px;
    width: 450px;
    background-color:#84aacf;
	margin-top: 6%;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
    line-height: 150%;
    padding: 25px;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
	font-size: 20px;
	text-align: left;
	opacity: 0.85;
}
#shortchangeform {
	height: 190px;
}

 /* footer */
#copyright {
	text-align: right;
	bottom: 0;
	position: fixed;
	right: 16px;
	font-family: Impact, 'Arial Narrow Bold', sans-serif;
	color: dimgrey;
}